header {
  text-align: center;
}
li {
  display: inline;
  padding: 0px 40px 0px 40px;
  font-family: Impact;
}

body {
    background-color: #adc2eb;
}
ul {
  font-size: 50px;
  background: #eaeffa;
}
h1 {
  font-size: 60px;
  font-family: Impact;
  text-align: center;

}
h2 {
  font-size: 40px;
  text-align: center;
  font-family: Lucida;
  padding-top: 0px;
}
p {
  text-align: center;
  font-size: 22px;
  
  padding: 20px 20px 20px 20px
}
div {
  text-align: center;
  padding-bottom: 80px;
}
input {
  font-size: 22px;

}
